html {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: blurInHeader 2s;


body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, midnightblue, #010e23);
  height: 100vh;
  h1 {
    font-family: Rosarivo-Regular;
    font-size: 5vw;
    opacity: 1;
    color: 
    rgb(255, 216, 132);
    mix-blend-mode:screen; 
    filter: blur(2px);
    animation: shakeRev 60s ease-in-out infinite alternate;


  }
  p,a {
    font-family: Rosarivo-Regular;
    font-size: 2.5vw;
    max-width: 50vw;
    color: 
    rgb(255, 216, 132);
    mix-blend-mode:screen;
    filter: blur(1px);
    animation: shakeRev 60s ease-in-out infinite alternate;  }
}

.noise {
  z-index: 10;
  position: absolute;
  pointer-events: none;
  /* top:-50vh;
  left:-50vw;
  height: 200vh;
  width: 200vw; */
  overflow: hidden;
  opacity: 0.9;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
   background: radial-gradient(
                 circle at 50% 50%,
                 rgba(0, 0, 0, 0.75),
                 rgba(0, 0, 0, 0)
     ),
     url(noise.svg);
    background-position: center;
    background-size: cover;
  filter: contrast(145%) brightness(550%) invert(100%); 
  /* transform: rotate(45deg); */
  mix-blend-mode: screen;
  animation: twinkleStars 3s ease-in-out infinite alternate, shake 60s ease-in-out infinite alternate;

}


}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}


  .button{
    padding: 1em 2.5em;
    border-radius: 15px;
    /* background: midnightblue; */
    color: white;
    mix-blend-mode: difference;
    opacity: 1;
    text-decoration: none;
    

  }

.button:hover, .button:focus, .button:active {
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: Alegreya-Regular; 
  src: url(../assets/font/Alegreya-Regular.ttf); 
}

@font-face {
  font-family: Rosarivo-Regular; 
  src: url(../assets/font/Rosarivo-Regular.ttf); 
}

@keyframes rotateNoise {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes blurInHeader {
  from {
    filter: blur(10px);
    scale: 1.1;
    }
  to {
    filter: blur(2px);
    scale: 1;
  }
}

@keyframes blurInText {
  from {
    filter: blur(10px);
    scale: 1.1;
    }
  to {
    filter: blur(1px);
    scale: 1;
  }
}

@keyframes twinkleStars {
  from {  filter: contrast(135%) brightness(680%) invert(100%); 
}
  to {  filter: contrast(125%) brightness(800%) invert(100%); 
}
}

@media only screen and (max-width: 600px) {

  html{
    body{
      .noise {
        background: none;
      }
    h1 {
      font-size: 14vw;
      filter: blur(0.2px)
    }
    p, a {
      font-size: 6vw;
    }
    }



  }
}



@keyframes shake {
  0% { transform: translate(0.5vh, 0.5vw) scale(1.1) rotate(0deg); }
  10% { transform: translate(-0.5vh, -1vw) scale(1.0)  rotate(1deg)}
  20% { transform: translate(-1.5vh, 0vw) scale(1.0)  rotate(-1deg);}
  30% { transform: translate(1.5vh, 1vw) scale(0.9)  rotate(0deg);}
  40% { transform: translate(0.5vh, -0.5vw) scale(1.0)  rotate(-1deg);}
  50% { transform: translate(-0.5vh, 1vw) scale(0.8)  rotate(1deg)}
  60% { transform: translate(-1.5vh, 0.5vw) scale(1.0)  rotate(0deg);}
  70% { transform: translate(1.5vh, 0.5vw) scale(1.0)  rotate(1deg)}
  80% { transform: translate(-0.5vh, -0.5vw) scale(1.0)  rotate(-1deg);}
  90% { transform: translate(0.5vh, 1vw) scale(1.0) rotate(0deg);}
  100% { transform: translate(0.5vh, -1vw) scale(1.0)  rotate(1deg)}
}

@keyframes shakeRev {
  0% { transform: translate(-0.5vh, -0.5vw) scale(0.99) rotate(0deg); filter: blur(2px); }
  10% { transform: translate(0.5vh, 1vw) scale(1.0) rotate(-0.5deg); filter:blur(1px) }
  20% { transform: translate(1.5vh, 0vw) scale(1.0)  rotate(0.5deg); filter:blur(1px)}
  30% { transform: translate(-1.5vh, -1vw) scale(1.01)  rotate(0deg); filter:blur(3px) }
  40% { transform: translate(-0.5vh, 0.5vw) scale(1.0) rotate(0.5deg); filter:blur(1px)}
  50% { transform: translate(0.5vh, -1vw) scale(1.02) rotate(-0.5deg);  filter:blur(1px)}
  60% { transform: translate(1.5vh, -0.5vw) scale(1.0)  rotate(0deg); filter:blur(1px)}
  70% { transform: translate(-1.5vh, -0.5vw) scale(1.0)  rotate(-0.5deg); filter:blur(1px)}
  80% { transform: translate(0.5vh, 0.5vw) scale(1.0)  rotate(0.5deg); filter:blur(1px)}
  90% { transform: translate(-0.5vh, -1vw) scale(1.0)  rotate(0deg); filter:blur(2px)}
  100% { transform: translate(-0.5vh, 1vw) scale(1.0)  rotate(-0.5deg) ; filter:blur(1px)}
}